@use '../../styles/partials/variables' as *;

.project-section {
    padding: 40px 12vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #808080;
    min-height: 75vh;

    &__title-container {
        display: flex;
        padding: 1rem;
        border-bottom: 1px solid #808080;
        background: #333;
    }

    &__title {
        color: $color-white;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;

    }

    &__toolbar-container {
        border-bottom: 1px solid #808080;
        background: #2E333F;
        padding: 1rem;
    }

    &__toolbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
    }

    &__toolbar-icon {}

    &__detail-container {
        display: flex;
        align-items: stretch;
        width: 100%;
        flex: 1;
        height: 65vh;
    }

    &__detail {
        width: 75%;
        display: flex;
        padding: 1rem;
        background-color: #404453;

    }

    &__list {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4px;
    }

    &__icon {}

    &__name {
        color: $color-white;
        font-size: 1rem;
        font-weight: 600;

    }


}

.sidebar {
    display: flex;
    justify-content: stretch;
    align-items: center;

    background: #343945;
    width: 25%;
    padding: .5rem 0;
    flex: 1;

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1;
        justify-content: stretch;
        height: 100%;
    }

    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        color: #888D99;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: .5rem;

        &--active {
            color: $color-white;
            background-color: #5295e2;
        }
    }

    &__icon {}
}