@use './variables' as *;

// FONT FACES

@font-face {
    font-family: 'Inconsolata';
    src: url('../../assests/fonts/Inconsolata-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../../assests/fonts/Inconsolata-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../../assests/fonts/Inconsolata-Bold.ttf');
    font-weight: 700;
}

// SECTION HEADING

.section-heading {
    color: $color-white;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}