@font-face {
    font-family: 'Inconsolata';
    src: url('../../assests/fonts/Inconsolata-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../../assests/fonts/Inconsolata-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../../assests/fonts/Inconsolata-Bold.ttf');
    font-weight: 700;
}